<section id="about" class="py-30 bg-background">
  <div class="container mx-auto px-6">
    <header class="mb-12">
      <h2
        class="text-4xl sm:text-5xl lg:text-6xl font-bold font-headline text-foreground"
        appTranslate="nav.about"
      ></h2>
      <div class="w-75 h-0.5 bg-primary rounded-full mt-4"></div>
    </header>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-24">
      <article class="space-y-4">
        <p
          class="text-lg sm:text-xl leading-relaxed text-muted-foreground"
          appTranslate="about.description1"
        ></p>
        <p
          class="text-lg sm:text-xl leading-relaxed text-muted-foreground"
          appTranslate="about.description2"
        ></p>
        <p
          class="text-lg sm:text-xl leading-relaxed text-muted-foreground"
          appTranslate="about.description3"
        ></p>
        <p
          class="text-lg sm:text-xl leading-relaxed text-muted-foreground"
          appTranslate="about.description4"
        ></p>
      </article>
    </div>
  </div>
</section>
