<section class="py-20 bg-background" id="about">
  <div class="container mx-auto px-6">
    <h2
      class="text-4xl sm:text-5xl lg:text-6xl font-bold mb-4 font-headline text-foreground"
      appTranslate="nav.about"
    ></h2>
    <div class="w-75 h-0.5 bg-primary rounded-full mb-12"></div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-24 mx-auto">
      <div class="order-1 lg:order-1 ali">
        <span
          class="text-lg sm:text-xl leading-relaxed text-muted-foreground"
          appTranslate="about.description1"
        ></span>
        <span
          class="text-lg sm:text-xl leading-relaxed text-muted-foreground"
          appTranslate="about.description2"
        ></span>
        <span
          class="text-lg sm:text-xl leading-relaxed text-muted-foreground"
          appTranslate="about.description3"
        ></span>
        <span
          class="text-lg sm:text-xl leading-relaxed text-muted-foreground"
          appTranslate="about.description4"
        ></span>
      </div>
      <div class="order-2 lg:order-2">
        <app-skills />
      </div>
    </div>
  </div>
</section>
