<ul class="flex space-x-8">
  <li>
    <a
      href="#about"
      class="text-muted-foreground hover:text-primary group relative text-sm font-medium transition-colors duration-200"
      appTranslate="nav.about"
    >
      <span
        class="bg-primary absolute -bottom-1 left-0 h-0.5 w-0 transition-all duration-200 group-hover:w-full"
      ></span>
    </a>
  </li>
  <li>
    <a
      href="#skills"
      class="text-muted-foreground hover:text-primary group relative text-sm font-medium transition-colors duration-200"
      appTranslate="nav.skills"
    >
      <span
        class="bg-primary absolute -bottom-1 left-0 h-0.5 w-0 transition-all duration-200 group-hover:w-full"
      ></span>
    </a>
  </li>
  <li>
    <a
      href="#projects"
      class="text-muted-foreground hover:text-primary group relative text-sm font-medium transition-colors duration-200"
      appTranslate="nav.projects"
    >
      <span
        class="bg-primary absolute -bottom-1 left-0 h-0.5 w-0 transition-all duration-200 group-hover:w-full"
      ></span>
    </a>
  </li>

  <li>
    <a
      href="#contact"
      class="text-muted-foreground hover:text-primary group relative text-sm font-medium transition-colors duration-200"
      appTranslate="nav.contact"
    >
      <span
        class="bg-primary absolute -bottom-1 left-0 h-0.5 w-0 transition-all duration-200 group-hover:w-full"
      ></span>
    </a>
  </li>
</ul>
